//- Form Input Buttons
//- -----------------------------------------------------------------
mixin br
	br
//- -----------------------------------


section
	h2 Buttons

	p The <code>#{'<button>'}</code> tag defines a clickable button. Inside a <code>#{'<button>'}</code> element you can put content, like text or images. This is the difference between this element and buttons created with the <code>#{'<input>'}</code> element.

	p Tip: Always specify the type attribute for a <code>#{'<button>'}</code> element. Different browsers use different default types for the <code>#{'<button>'}</code> element.

	fieldset
		legend Default HTML5 Buttons

		div
			button Button
		div
			button(type='button') Button Button
			button(type='submit') Button Submit
			button(type='reset') Button Reset
			button(type='button' disabled) Button Disabled
		div
			input(type='button' value='Input Button')
			input(type='submit' value='Input Submit')
			input(type='reset' value='Input Reset')
			input(type='button' value='Input Disabled' disabled)
