//- Form Fieldset
//- -----------------------------------------------------------------
mixin br
	br
//- -----------------------------------


section
	h2 Form Fieldset

	p You can use <code>#{'<fieldset>'}</code> to group related elements in a form. By default, this tag draws a box around it's child elements.

	p Use the <code>#{'<legend>'}</code> to define a caption for the <code>#{'<fieldset>'}</code> element. <code>#{'<legend>'}</code> is not required, but can only be used within the <code>#{'<fieldset>'}</code> and has to be it's first-child.


	//- -----------------------------------
	//- Full
	//- -----------------------------------
	h3 With <code>#{'<fieldset>'}</code> and <code>#{'<legend>'}</code>

	form
		fieldset
			legend Group of Input Field Types

			label(for='fm-text1') Text Input: #[abbr(title='required') *]
				input#fm-text1(type='text', name='fm-text1' placeholder='Text Input' required)
			+br
			label(for='fm-password1') Password: #[abbr(title='required') *]
				input#fm-password1(type='password' name='fm-password1' placeholder='Type your Password' required)


	//- -----------------------------------
	//- Without Legend
	//- -----------------------------------
	h3 With Just <code>#{'<fieldset>'}</code>

	form
		fieldset
			label(for='fm-text1') Text Input: #[abbr(title='required') *]
				input#fm-text1(type='text', name='fm-text1' placeholder='Text Input' required)
			+br
			label(for='fm-password1') Password: #[abbr(title='required') *]
				input#fm-password1(type='password' name='fm-password1' placeholder='Type your Password' required)


	//- -----------------------------------
	//- Without Fieldset or Legend
	//- -----------------------------------
	h3 Without <code>#{'<fieldset>'}</code> or <code>#{'<legend>'}</code>

	form
		label(for='fm-text1') Text Input: #[abbr(title='required') *]
			input#fm-text1(type='text', name='fm-text1' placeholder='Text Input' required)
		+br
		label(for='fm-password1') Password: #[abbr(title='required') *]
			input#fm-password1(type='password' name='fm-password1' placeholder='Type your Password' required)
