//- Basic Images
//- -----------------------------------------------------------------


section
	h2 Basic Images, Linked Image, and a Broken Image

	h4 A Simple #{'<img>'}

	img(src="http://via.placeholder.com/350x100" alt="Placeholder image consisting of a light grey background with medium grey text in the center that reads 350 by 100")

	h4 A Simple #{'<img>'} Inside a #{'<p>'}

	p
		img(src="http://via.placeholder.com/350x100" alt="Placeholder image consisting of a light grey background with medium grey text in the center that reads 350 by 100")


	h4 An #{'<img>'} Inside a #{'<figure>'}

	figure
		img(src="http://via.placeholder.com/350x100" alt="Placeholder image consisting of a light grey background with medium grey text in the center that reads 350 by 100")


	h4 An #{'<img>'} Inside a #{'<figure>'} with a #{'<figcaption>'} After

	figure
		img(src="http://via.placeholder.com/350x100" alt="Placeholder image consisting of a light grey background with medium grey text in the center that reads 350 by 100")

		figcaption This is a caption for the related image. They're related because they are both inside the #{'<figure>'} element.


	h4 An #{'<img>'} Inside a #{'<figure>'} with a #{'<figcaption>'} Before

	figure
		figcaption This is a caption for the related image. They're related because they are both inside the #{'<figure>'} element.

		img(src="http://via.placeholder.com/350x100" alt="Placeholder image consisting of a light grey background with medium grey text in the center that reads 350 by 100")


	h4 Multiple #{'<img>'} Inside a #{'<figure>'} and a #{'<figcaption>'}

	figure

		img(src="http://via.placeholder.com/100x100" alt="Placeholder image consisting of a light grey background with medium grey text in the center that reads 100 by 100")

		img(src="http://via.placeholder.com/200x110" alt="Placeholder image consisting of a light grey background with medium grey text in the center that reads 200 by 110")

		img(src="http://via.placeholder.com/150x120" alt="Placeholder image consisting of a light grey background with medium grey text in the center that reads 150 by 120")

		figcaption This is a caption for the multiple related images. They're related because they are both inside the #{'<figure>'} element.


	//- -----------------------------------
	//- Linked Image
	//- -----------------------------------
	h4 Image As a Link
	p.linked
		| This is what an image looks like when it's placed inside an anchor #{'<a>'} tag. This image uses the default alignment so it will just show up inline.

		a(href='#'): img(src="http://via.placeholder.com/200x110" alt="Placeholder image consisting of a light grey background with medium grey text in the center that reads 200 by 110")

		| Maybe we should consider using javascript to give the anchor a display of 'inline-block' so that the image doesn't break out of the anchor?


	//- -----------------------------------
	//- Broken Link Image
	//- -----------------------------------
	h4 An Image With a Broken Link
	p.linked
		| This is what it looks like when the image isn't available due to a broken link. Notice, we are still getting our alt tag which is a little helpful at-least.

		img(src="http://via.placehold.com/200x110" alt="Placeholder image consisting of a light grey background with medium grey text in the center that reads 200 by 110")

		| Here's some filler text from "Snozzcumber" just for visual testing purposes. It's a funny thought' Sophie said. 'Exunckly' the BFG said. George was especially tired of having to live in the same house as that grizzly old grunion of a Grandma.
