//- Headings and Paragraphs
//- -----------------------------------------------------------------

section
	h2 Here's What the Different Headings Look Like When We Follow With Paragraphs

	p.
		Here's what a regular text paragraph looks like. Let's give it some filler text to make it a little longer. This is from #[a(href='http://yis.li/html-p') developer.mozilla.org] The HTML #{'<p>'} element represents a paragraph of text. Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation. Paragraphs are #[a(href='https://goo.gl/gk10Yq') block-level elements].

	p.
		Here's what a regular text paragraph looks like. Let's give it some filler text to make it a little longer. This is from #[a(href='http://yis.li/html-p') developer.mozilla.org] The HTML #{'<p>'} element represents a paragraph of text. Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation. Paragraphs are #[a(href='https://goo.gl/gk10Yq') block-level elements].

	h2 This is a Sub-Heading

	p.
		Here's what a regular text paragraph looks like. Let's give it some filler text to make it a little longer. This is from developer.mozilla.org The HTML #{'<p>'} element represents a paragraph of text. Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation. Paragraphs are block-level elements. Here's what a regular text paragraph looks like. Let's give it some filler text to make it a little longer. This is from #[a(href='http://yis.li/html-p') developer.mozilla.org] The HTML #{'<p>'} element represents a paragraph of text. Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation. Paragraphs are #[a(href='https://goo.gl/gk10Yq') block-level elements].

	h3 This is a Third Sub-Heading

	p.
		Here's what a regular text paragraph looks like. Let's give it some filler text to make it a little longer. This is from #[a(href='http://yis.li/html-p') developer.mozilla.org] The HTML #{'<p>'} element represents a paragraph of text. Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation. Paragraphs are #[a(href='https://goo.gl/gk10Yq') block-level elements].

	h4 This is a Fourth Sub-Heading

	p.
		Here's what a regular text paragraph looks like. Let's give it some filler text to make it a little longer. This is from #[a(href='http://yis.li/html-p') developer.mozilla.org] The HTML #{'<p>'} element represents a paragraph of text. Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation. Paragraphs are #[a(href='https://goo.gl/gk10Yq') block-level elements].

	h4 This is a Fourth Sub-Heading

	p.
		Here's what a regular text paragraph looks like.

	h5 This is a Fifth Sub-Heading

	p.
		Here's what a regular text paragraph looks like. Let's give it some filler text to make it a little longer. This is from #[a(href='http://yis.li/html-p') developer.mozilla.org] The HTML #{'<p>'} element represents a paragraph of text. Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation. Paragraphs are #[a(href='https://goo.gl/gk10Yq') block-level elements].

	h6 This is a Sixth Sub-Heading

	p.
		Here's what a regular text paragraph looks like. Let's give it some filler text to make it a little longer. This is from #[a(href='http://yis.li/html-p') developer.mozilla.org] The HTML #{'<p>'} element represents a paragraph of text. Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation. Paragraphs are #[a(href='https://goo.gl/gk10Yq') block-level elements].
