//- Contains the html that is reused on almost every page
doctype html

html.no-js(lang=meta.lang)

	block head
		head
			meta(charset='utf-8')
			meta(http-equiv='x-ua-compatible', content='ie=edge')
			meta(name='viewport', content='width=device-width,initial-scale=1')

			// removeIf(cms)
			block title

				title #{meta.title}

			meta(name='description', content=meta.description)
			meta(name='keywords', content=meta.keywords)
			// endRemoveIf(cms)

			link(rel='apple-touch-icon', href='apple-touch-icon.png')
			//- Place favicon.ico in the root directory

			// build:css css/main.min.css
			block styles
				link(rel='stylesheet', href='css/normalize.css')

			link(rel='stylesheet', href='css/main.css')
			// endbuild

	block vars
	body(class=bodyClass)

		block content
		//- Page content goes here


	block bottom

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')

		//build:js js/main.min.js
		block scripts
			script(src='js/main.js')
		// endbuild
