//- Site Home Page
//- -----------------------------------------------------------------

extends /partials/_base

block vars
	- var metaDescription = PGHOME.meta.description;
	- var metaKeywords = PGHOME.meta.keywords;
	- var bodyClass = 'page--home';

block title
	title !{SITE.meta.title} | !{PGHOME.meta.title}


//- -----------------------------------
//- Page Main-Content Starts Here
//- -----------------------------------
block content
	//- Feel free to remove everything below this
	//- and start doing your own thing.

	h1 #{PGHOME.title}!
		//- If you're not using gulp-data, You can remove these variables

	h2 #{PGHOME.subtitle}

	p #{PGHOME.description}

	div
		img(src='images/gulp.svg', alt='Gulp Logo')
		img(src='images/sass.svg', alt='Sass Logo')
		img(src='images/pug.svg', alt='Pug Logo')
		img(src='images/yarn.svg', alt='Yarn Logo')

	hr

	h2 To test out some html tags, try:

	ul
		li: a(href='./demo-text.html') Text Elements
		li: a(href='./demo-forms.html') Form Elements
		li: a(href='./demo-media.html') Media Elements

	h1 Test Some Button Stuff

	.btn-default Default

	.btn-primary Primary

	.btn-secondary Secondary

	.btn-block-default Default Block

	.btn-primary-block Primary Block

	.btn-block-primary Block Primary

	.btn-secondary-block Secondary Block

	.btn-block-secondary Block Secondary

	.btn-expand-default Default Expand

	.btn-primary-expand Primary Expand

	.btn-expand-primary Expand Primary

	.btn-disable-default Default Disable

	.btn-primary-disable Primary Disable

	.btn-disable-primary Disable Primary

	.btn-link Default Link

	.btn-link-block Link Block

	.btn-link-block-disable Link Block Disabled

	.btn-block-secondary-disabled Block Secondary Disable

	.btn-default-hollow Default Hollow

	.btn-primary-hollow Primary Hollow

	.btn-secondary-hollow Secondary Hollow
